body > article:first-of-type {
    margin: 0 auto;
    max-width: 32em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main {
    margin: 0 auto;
    max-width: 40em;
}

img {
    width: 14em;
    height: 14em;
    object-fit: cover;
    margin: auto;
    justify-content: space-around;
}

body > article > img {
    border-radius: 50em;
}

nav {
    display: flex;
    font-family: paragraph;
    font-size: 1.25em;
    max-width: 5em;
    flex-wrap: wrap;
    float: right;
    position: relative;
    padding: .5em;
    border: solid grey 1px;

}

h1,
h2,
h3 {
    font-family: heading;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

h1 {
    font-size: 8em;
    margin-top: .25em;
    margin-bottom: .25em;
}

h3 {
    font-size: 2em;
}

p {
    font-family: paragraph;
}

section > article > img {
    display: inline-block;
    height: 9em;
    width: 20em;
    object-fit: cover;
    border-radius: none;
}

section {
    margin: 0 auto;
    max-width: 40em;
}

section > article {
    max-width: 40em;
}

section > article > h2 {
    margin: 1em auto .5em auto;
}

section > article > p {
    margin-bottom: 6em;
}

@font-face {
    font-family: "heading";
    font-style: bold;
    src: url("mermaid.ttf") format("truetype");
}

@font-face {
    font-family: "paragraph";
    font-style: normal;
    src: url("Timeless.ttf") format("truetype");
}
